* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.window {
	width: 450px;
	height: 300px;
	margin: 20px auto;
	overflow: hidden;
	position: relative;
}

.images {
	display: flex;
	transition: all 1s;
}
.images > img {
	width: 100%;
}

.arrow {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #fff;
	line-height: 30px;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
.arrow:hover {
	opacity: 0.8;
}
#previous {
	left: 10px;
}
#next {
	right: 10px;
}

#buttonWrapper {
	position: absolute;
	bottom: 5px;
	left: 45%;
	display: inline-block;
	color: #fff;
	text-align: center;
}
#buttonWrapper button {
	width: 8px;
	height: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 0 3px;
	cursor: pointer;
	background-color: #fff;
}